@import url("//maxcdn.bootstrapcdn.com/font-awesome/5.1.0/css/font-awesome.min.css");
body {
    font-family: 'Nunito', sans-serif;
}

#quadro_mapa{
    display: flex;
  
    margin-top: 60px;
   

}

#map { 
    height: 800px;
    width: 60vw;
    margin: 0px 10px 0 210px;
    z-index: 0;
    align-items: center;
    
}

h1{
    color: black;
}

img{
    margin-left: 2px;
}

p{
    margin-top: 2px;
    float: right;
}

.cards{
 margin-left: 210px;
}

.top_content{
    height: 200px;
    width: 80vw;
    
}

#tester{
 
}

.card{
    width: 300px;
    height: 150px;
    margin: 100px 20px 0 0;
   
}

.card_red{
    background-color: #DE3647;
    text-align: center;
}

.card_orange{
    background-color: #f5883c;
    text-align: center;
}

.card_green{
    background-color: #59aa4a;
    text-align: center;
}

.card h5{
    color: white;
    font-weight: bold;
}


i{
   
    color: rgba(255, 255, 255, 0.4);
    margin-right: 10px;
    
}

.text__data__card{
    margin-left:15px;
    font-size: 80px;
}
